/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    display: flex;
  }
  
  .content {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
  }
  
  .navbar {
    width: 240px;
    background-color: #f5f5f5;
  }
   */


   .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
   
  header {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 25vh;
  }
   
  nav {
    width: 240px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
   
  main {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
  }
   
  footer {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    height:15vh
  }
  
 