

  /* Transactions.css */

/* .table-container {
  margin-left: 275px; /* Adjust for the navbar width */
  /* position: fixed;
  margin-top: 15px;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  
}

.trans-text-field
 {
  margin-right: 20px;
  border-radius: 150px;
 
 }

.trans-select-field {
  margin-right: 20px;
  border-radius: 150px;
 }

.trans-button{
  margin-right: 5px;
  border-radius: 10px;
  padding: 7px 25px 7px 25px;
  font-size: medium;
}

.Add-icon {
  width: 27px;
  height: 25px;
  margin-right: 6px;
}

.Clock-icon {
  width: 27px;
  height: 25px;
  margin-right: 6px;
  
}

.trans-status-field {
  min-width: 100px;
  border-radius: 50px;
} */


/* .data-grid {
  background-color: white;
  width: 99%;
}

.data-grid-column-header {
  background-color: #f4f4f9;
}

.data-grid-cell {
  font-size: 14px;
}

/* Container for transactions */
/* .transactions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}  */ 



