
  .footer { 
    padding: 10px; 
    background-color:#FFFFFF;
    text-align: center;
    border-top: 1.5px solid #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
    
  
    
  
  


  